* {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: darkblue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  border-radius: 20%;
  margin-bottom: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  outline: none;
  cursor: pointer;
  padding: 10px;
  background: #fff;
  border: 0;
  border-radius: 10%;
  width: 180px;
  margin-top: 20px;
}

button:hover {
  color: #fff;
  background: darkblue;
}

.buttons {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .buttons {
    display: block;
  }

  .buttons button + button {
    margin-left: 20px;
  }
}

input {
  border: 0;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
}

h2 {
  color: #fff;
  margin-top: 40px;
}

.footer {
  margin-top: 50px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}